{% extends "new_base.html" %}

{% block body %}
<div class="h-full ml-14 mt-14 mb-10 md:ml-64">
    <h2 class="text-xl font-semibold mb-4 mt-5 text-center md:text-2xl">Admin's Dashboard</h2>

    <!-- Statistics Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path></svg>
            </div>
            <div class="text-right">
                <p class="text-2xl">Total  {{ total_classes }}</p>
                <p>Classes Taken</p>
            </div>
        </div>
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"></path></svg>
            </div>
            <div class="text-right">
                <p class="text-2xl"> Total {{ total_days }}</p>
                <p>Days Taught</p>
            </div>
        </div>
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </div>
            <div class="text-right">
                <p class="text-2xl"> ₹ {{ total_salary }}</p>
                <p>Total Salary</p>
            </div>
            
        </div>
        <div class="bg-blue-500 dark:bg-gray-800 shadow-lg rounded-md flex items-center justify-between p-3 border-b-4 border-blue-600 dark:border-gray-600 text-white font-medium group">
            <div class="flex justify-center items-center w-14 h-14 bg-white rounded-full transition-all duration-300 transform group-hover:rotate-12">
                <svg width="30" height="30" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="stroke-current text-blue-800 dark:text-gray-800 transform transition-transform duration-500 ease-in-out"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path></svg>
            </div>
            <div class="text-right">
                <p class="text-2xl"> Total {{ total_hours }}</p>
                <p>Hours Taught</p>
            </div>
        </div>
    </div>
    
    <!-- Teaching Records Table -->
    <div class="mt-1 mx-4">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-100 dark:text-gray-100 dark:bg-gray-800 bg-gray-800">
                <thead class="text-xs text-white uppercase bg-gray-900 dark:bg-gray-900">
                    <tr>
                        <th scope="col" class="px-6 py-3 rounded-s-lg">Faculty</th>
                        <th scope="col" class="px-6 py-3">Subject</th>
                        <th scope="col" class="px-6 py-3">Course</th>
                        <th scope="col" class="px-6 py-3">Topic Taught</th>
                        <th scope="col" class="px-6 py-3">Date Taught</th>
                        <th scope="col" class="px-6 py-3">Time Slot</th>
                        <th scope="col" class="px-6 py-3">Salary</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in teaching_records %}
                    <tr class="bg-gray-800 text-white">
                        <td class="px-6 py-4">{{ record.faculty.get_full_name }}</td>
                        <td class="px-6 py-4">{{ record.subject.name }}</td>
                        <td class="px-6 py-4">{{ record.course.name }}</td>
                      
                        <td class="px-6 py-4">{{ record.topic_taught }}</td>
                        <td class="px-6 py-4">{{ record.start_time|date:"Y-m-d" }}</td>
                        <td class="px-6 py-4">{{ record.start_time|date:"g:i A" }} - {{ record.end_time|date:"g:i A" }}</td>
                        <td class="px-6 py-4">₹{{ record.salary }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr class="font-semibold text-white bg-gray-900">
                        <th scope="row" class="px-6 py-3 text-base">Total</th>
                        <td class="px-6 py-3">{{ total_classes }}</td>
                        <td></td>
                        <td></td>
                        <td class="px-6 py-3">{{ total_days }} Days</td>
                        <td class="px-6 py-3">{{ total_hours }} Hours</td>
                        <td class="px-6 py-3">₹{{ total_salary }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- Download buttons -->
        <div class="mt-4 flex justify-center items-center">
            {% if teaching_records.has_previous %}
                <a href="?page={{ teaching_records.previous_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold py-2 px-4 rounded-lg mr-4">Previous</a>
            {% endif %}
            
            {% if teaching_records.has_next %}
                <a href="?page={{ teaching_records.next_page_number }}" class="bg-gray-300 hover:bg-gray-400 text-gray-700 font-semibold py-2 px-4 rounded-lg ml-4">Next Page</a>
            {% endif %}
        </div>
        
    </div>
    <h3 class="text-xl font-semibold mb-4 mt-5 text-left md:text-2xl">Generate Report</h3>

<!-- Wrapper for the entire Generate Report section -->
<div class="mt-4 bg-gray-700 p-6 rounded-lg shadow-md border border-gray-900">

    <!-- Date Input Section -->
    <h5 class="font-semibold mb-4 mt-5 text-left">select dates</h5>
    <div class="flex space-x-4 mb-4">
        <!-- Start Date Input -->
        <div class="flex flex-col">
            <label for="start_date" class="block text-sm font-medium text-gray-100 mb-1">Start Date:</label>
            <input type="date" id="start_date" name="start_date" class="block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900">
        </div>

        <!-- End Date Input -->
        <div class="flex flex-col">
            <label for="end_date" class="block text-sm font-medium text-gray-100 mb-1">End Date:</label>
            <input type="date" id="end_date" name="end_date" class="block w-full py-2 px-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-900">
        </div>
    </div>

    <!-- Divider line -->
    <hr class="border-t border-gray-900 my-4">

    <!-- Download Buttons Section -->
    <div class="flex space-x-4">
        <!-- Download as CSV button -->
        <button id="download_csv_btn" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-3 px-6 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-green-500">
            Download as CSV
        </button>
        
        <!-- Download as DOC button -->
        <button id="download_doc_btn" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            Download as DOC
        </button>

        <button id="download_excel_btn" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            Download as Excel
        </button>
    </div>
</div>
<script>
    function generateDownloadUrl(baseUrl, startDate, endDate) {
        // Construct the URL with query parameters
        return `${baseUrl}?start_time=${startDate}&end_time=${endDate}`;
    }

    // Add event listener for the CSV download button
    document.getElementById('download_csv_btn').addEventListener('click', function (event) {
        // Prevent the default action of the button
        event.preventDefault();
        
        // Get the selected start and end dates
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        
        // Generate the URL for downloading the CSV report
        const downloadUrl = generateDownloadUrl('{% url 'admin_csv' %}', startDate, endDate);
        
        // Redirect to the generated URL
        window.location.href = downloadUrl;
    });

    // Add event listener for the DOC download button
    document.getElementById('download_doc_btn').addEventListener('click', function (event) {
        // Prevent the default action of the button
        event.preventDefault();
        
        // Get the selected start and end dates
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        
        // Generate the URL for downloading the DOC report
        const downloadUrl = generateDownloadUrl('{% url 'admin_doc' %}', startDate, endDate);
        
        // Redirect to the generated URL
        window.location.href = downloadUrl;
    });

    document.getElementById('download_excel_btn').addEventListener('click', function (event) {
        // Prevent the default action of the button
        event.preventDefault();
        
        // Get the selected start and end dates
        const startDate = document.getElementById('start_date').value;
        const endDate = document.getElementById('end_date').value;
        
        // Generate the URL for downloading the DOC report
        const downloadUrl = generateDownloadUrl('{% url 'download_excel' %}', startDate, endDate);
        
        // Redirect to the generated URL
        window.location.href = downloadUrl;
    });
</script>
{% endblock body %}
